* {
    margin: 0;
    padding: 0;
}

input, textarea,select{
    background-color: #f7ab71;
    border-radius: .3em;
    padding: 0.2em .5em;
    border-width: 0.1em;
    border-color: #d8874a;
}

input[type="file"]{
    max-width: 17em;
}

label{
    display: flex;
    align-items: center;
}

h1 {
    /* font-size: 2em !important; */
    margin: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 1000;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.jelentkez{
    width: 40%;
}

p {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

h2 {
    font-size: 1.25em !important;
    margin-bottom: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}



.lista1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin: 0;
    padding-right: 5px;
    font-family: 'Prompt', sans-serif;
}

a {
    word-break: none;
}

@media (max-width:1200px) {

    h1 {
        text-align: center;
    }
}



.button {
    background-color: #9CBDDC;
    color: #000000;
    border: none;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    margin-left: 20%;
    border-radius: 15px;
    --c:  #D9D9D9; /* the color*/
    box-shadow: 0 0 0 .1em inset var(--c);
}



.lista2 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    gap: 1em;
    text-decoration: none;
    flex-wrap: wrap;
    padding-left: 0px;
}

.button a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.lista2 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
    padding-left: 0 !important;
}

.button:hover {
    color: #2891be;
    font-weight: bold;
}

li a {
    padding: 10px 10px;
    background-color: unset;
    border-radius: 15px;

}

a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #be5828;
    border-radius: 15px;
    width: 100%;
    font-weight: bold;
}


.line {
    line-height: 1.6;
}

.design {
    flex-wrap: wrap;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: unset;
    display: flex;
    width: 100%;
    justify-content: left;
    gap: 1em;
    flex-wrap: wrap;
    background-color: rgba(235, 208, 197, 0.831);
    padding: .2em .5em;
    border-radius: .5em;
}

.design span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.infomaciok {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
}

.new-record{
    justify-content: center;
    align-items: center;
}

.service-li {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    background-color: rgba(215, 113, 70, 0.8);
    border-radius: .5em;
    width: 100%;
    gap: 1em;
    flex-wrap: wrap;
    list-style: none;
}

.service-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.service-li-left {
    display: flex;
    flex-direction: column;
}

.service-li-button {
    border: unset;
    padding: .5em 1em;
    background-color: #ffc57b;
    font-weight: 600;
    border-radius: .5em;
    transition: .5s;
}

.service-li-button:hover {
    background-color: #7cd843;
    cursor: pointer;

}



.infomaciok img {

    height: 10em;
    object-fit: cover;
    image-rendering: optimizeSpeed;
    margin: 5px;
}

.pets {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;

}

.pet-form {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 !important;
    gap: 1em;
}

.alert {
    border-radius: 5em;
    margin: 6px !important;
}

.alert-warning{
    background-color: #EFF;
    border: 1px solid #DEE;
    color: #1e9696;
    text-align: center;
}

button.close {
    width: auto;
    height: auto;
    background-color: unset;
    border-radius: .5em;
    padding-left: 1em;
    border: none;
    float: right;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    image-rendering: optimizeSpeed;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .5em;
    background-color: #bcbcbcb7;
    gap: 1em;
}

.buttons1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .5em;
    gap: 1em;
}

.buttons form {
    width: fit-content;
}

.card {
    border-width: 0;
}

.pet-form {
    margin: 1em;
}



form {
    /*display: flex;*/
    justify-content: center;
}

.img-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
    image-rendering: optimizeSpeed;
}

.szolgaltatasok {
    background-color: rgba(201, 145, 122, 0.776);
    padding: .5em;
    border-radius: .5em;
    display: flex;
    gap: 1em;

}

.szolgaltatas {
    background-color: rgba(212, 135, 102, 0.854);
    padding: .5em;
    border-radius: .5em;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.ertekek {
    gap: 1em;
    justify-content: center;
}

.ertekek span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.uj-szolgaltatas .ertekek {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
}

.uj-szolgaltatas input,
.uj-szolgaltatas textarea {
    padding: .5em 1em;
    height: fit-content;
    border-radius: .5em;
    max-width: 10em;
}




.admin {
    width: 80%;
}

.admin-nav {
    width: 100%;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
}

.desc {
    padding-left: 1em;
}

.new-specie-input {
    display: none;
}

.new-specie-input.active {
    display: flex;
}

input[type="file"] {
    min-width: 5em;
    /* width:100vw;
    max-width:100%;  
    white-space: normal;
    word-wrap: break-word;  */
}

.code {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.s-code {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.infomaciok.pets .card-text,
.infomaciok.pets .card-title {
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 450px) {
    .infomaciok.pets img{
        width: 90%;
    }
}

.carousel-item img{
    width: 100%;
    height: 50vh;
    display: flex;
    object-fit: cover;
}

.container1 {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.kepecske {
    max-width: 100%;
    height: auto;
    border-radius: 23px;
    margin-bottom: 10px;
}
.description {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Livvic', sans-serif;
}

.szoveg{
    color: #034e85;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.szoveg1{
    font-family: Roboto;
}

@media screen and (max-width: 930px) {
    main .container1{
        display: grid;
    }
    .kepecske {
        max-width: 50%;
        height: auto;
        border-radius: 20%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 530px) {
    main .container1{
        display: grid;
    }
    .kepecske {
        max-width: 100%;
        height: auto;
        border-radius: 20%;
        margin: 0 auto;
        margin-left: 0;
        margin-right: 0px;
    }
}


.button-alr {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: center;
    justify-content: center;
}

.button-alr:hover {
    background-color: #fff;
}

.button-alr:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-alr {
        min-width: 120px;
        padding: 0 25px;
    }
}

.content{
    display: unset;
}

.rating{
    background-color: transparent;
}

.msg{
    display: unset;

}