* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.6s ease;
    font-family: 'Prompt', sans-serif;
}

/* Alapstílusok */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #CCFBEA;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.valami {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-image: url("../img/zold.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.hehe {
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    background-image: url("../img/zold.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: 'Prompt', sans-serif;
}

.container {
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
}

header {
    padding: 20px;
}

.header-content {
    position: static;
    left: 25%;
    top: 32%;
    width: auto;

}

.header-title {
    font-size: 150px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: left;
    font-family: 'Megrim', sans-serif;
    margin-left: 23%;
    font-weight: bold;
}

.header-title1 {
    font-size: 150px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: right;
    font-family: 'Megrim', sans-serif;
    margin-right: 25%;
    font-weight: bold;
}

.header-mono {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Livvic', sans-serif;
    margin-left: 13%;
}

@media screen and (max-width: 1540px) {
    header .header-content .header-title{
        font-size: 130px;
    }
    header .header-content .header-mono{
        font-size: 23px;
    }
    header .header-content .header-title1{
        font-size: 130px;
    }
}

@media screen and (max-width: 800px) {
    header .header-content .header-title{
        font-size: 70px;
    }
    header .header-content .header-mono{
        font-size: 23px;
    }
    header .header-content .header-title1{
        font-size: 70px;
    }
}

@media screen and (max-width: 440px) {
header .header-content .header-title{
    font-size: 48px;
    margin-left: 10%;
}
header .header-content .header-title1{
    font-size: 48px;
    margin-right: 10%;
}
header .header-content .header-mono{
    font-size: 16px;
    margin-left: 5%;

}
}

.button-21 {
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    width: 160px;
    padding: 10px 20px;
    margin-left: 20%;
}

.button-21:active,
.button-21:focus {
    outline: none;
}

.button-21:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}





nav ul {
    gap: 1.5em;
    list-style: none;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
}

li a{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: #24941d;
    border-radius: 15px;
    width: 100%;
    font-weight: bold;
}