* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-shadow: 2px 2px 2px #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.6s ease;
    font-family: 'Prompt', sans-serif;
}

/* Alapstílusok */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #CCFBEA;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.valami {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-image: url("../img/zold.jpg");
    background-color: rgba(255, 255, 255, 0.4);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: unset!important;
}

.hehe {
    height: 100vh;
    background-image: url("../img/zold.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    font-family: 'Prompt', sans-serif;
}

.container {
    position: relative;
    height: 100%;
    width: calc(100% - 40px);
}

.header-content {
    position: static;
    left: 25%;
    top: 32%;
    width: auto;
}

.header-title {
    font-size: 150px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: left;
    font-family: 'Megrim', sans-serif;
    margin-left: 23%;
    font-weight: bold;
}

.header-title1 {
    font-size: 150px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    text-align: right;
    font-family: 'Megrim', sans-serif;
    margin-right: 25%;
    font-weight: bold;
}

.header-mono {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    font-family: 'Livvic', sans-serif;
    margin-left: 13%;
}

@media screen and (max-width: 1540px) {
    header .header-content .header-title{
        font-size: 130px;
    }
    header .header-content .header-mono{
        font-size: 23px;
    }
    header .header-content .header-title1{
        font-size: 130px;
    }
}

@media screen and (max-width: 800px) {
    header .header-content .header-title{
        font-size: 70px;
    }
    header .header-content .header-mono{
        font-size: 23px;
    }
    header .header-content .header-title1{
        font-size: 70px;
    }
}

@media screen and (max-width: 440px) {
header .header-content .header-title{
    font-size: 48px;
    margin-left: 10%;
}
header .header-content .header-title1{
    font-size: 48px;
    margin-right: 10%;
}
header .header-content .header-mono{
    font-size: 16px;
    margin-left: 5%;

}
}

.button-21 {
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    width: 160px;
    padding: 10px 20px;
    margin-left: 20%;
}

.button-21:active,
.button-21:focus {
    outline: none;
}

.button-21:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

nav ul {
    gap: 1.5em;
    list-style: none;
    flex-wrap: wrap;
}

li a{
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
}

nav ul li a:hover {
    color: #24941d;
    border-radius: 15px;
    width: 100%;
    font-weight: bold;
}

#about p a { color: #066; }
#about p a:hover { color: #55962e; text-decoration: none }

#contact p a { color: #066; }

footer span a { color: #FFF; }

.tm-logo-font {
    font-family: 'Oswald', sans-serif;
}

.parallax-window {
    min-height: 1064px;
    background: #455462;
}

.tm-border-gold {
    border-bottom-color: #CC9966;
    border-color: rgba(0, 0, 0, 0);
    background-color: #D9D9D9;
}

.tm-border-gold::placeholder {
    color: #000000;
    opacity: 1; /* Firefox */
    font-family: 'Livlic', sans-serif;
}

.tm-text-green {
    color: #000000;
    font-weight: bold;
    font-family: 'Livvic',sans-serif;
    text-align: left;
    font-size: 40px;
}

.input:focus {
    outline: none !important;
    border:1px solid #55962e;
    box-shadow: 0 0 10px #55962e;
}

input::placeholder,
textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(214, 212, 212);
    opacity: 1; /* Firefox */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(214, 212, 212);
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(214, 212, 212);
}