pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.relative {
  position: relative;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.p-12 {
  padding: 3rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
}

.pt-24 {
  padding-top: 6rem;
}

@media only screen and (max-width: 500px) {
  .p-12{
    padding: 1rem;
  }
}

.text-right {
  text-align: right;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: 'Livvic',sans-serif;
  text-align: left;
  text-decoration: none;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.leading-8 {
  line-height: 2rem;
  font-family: 'Livvic',sans-serif;
  text-align: left;
  font-size: 25px;
}

@media (min-width: 640px) {
  .sm\:mr-12 {
    margin-right: 3rem;
  }
  .sm\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sm\:py-48 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }

  .sm\:pt-48 {
    padding-top: 12rem;
  }
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-stretch {
    align-items: stretch;
  }
}